<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="/static/css/dashboard_style.css" rel="stylesheet" type="text/css" media="all" />    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div class="header">
    <div class="header-logo">
        <h1>Dashboard</h1>
    </div>
    <div class="header-button-personal-area">
        <form action="/personal_area">
            <button>Personal area</button>
        </form>
    </div>
</div>
<div class="header-container">
    <div class="header-main-link">
        <a href="/">Main</a>
    </div>
    <div class="header-search">
        <form action="/dashboard/search" method="get">
            <div>
                <label>
                    <input type="text" name="query" placeholder="Write query">
                </label>
            </div>
            <div>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="header-add-file">
        <div>
            <form action="/dashboard/load" method="post" enctype="multipart/form-data">
                <div>
                    <input type="file" name="file">
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <p th:text="${error}"></p>
</div>
<div>
    <h2>Files</h2>
    <div>
        <div th:each="userFile : ${files}">
            <a download th:href="'/download_my/' + ${userFile.getId()}"><h3 th:text="${userFile.getFilename()}"></h3></a>
            <div>Downloading publicly:
                <div th:if="${userFile.isCanBeDownloadedPublicly()}">
                    <form th:action="'/download_my/disable/' + ${userFile.getId()}">
                        <button>Disable</button>
                    </form>
                    <a th:href="'/download/' + ${userFile.getId()}">Link</a>
                </div>
                <div th:unless="${userFile.isCanBeDownloadedPublicly()}">
                    <form th:action="'/download_my/enable/' + ${userFile.getId()}">
                        <button>Enable</button>
                    </form>
                </div>
            </div>
            <div>
                <form th:action="'/dashboard/delete/' + ${userFile.getId()}">
                    <button>Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>