<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div>
    <a href="/">Main</a>
</div>
<div>
    <h1>Dashboard</h1>
    <div>
        <h2>Add file</h2>
        <div>
            <form action="/dashboard/load_file" method="post" enctype="multipart/form-data">
                <div>
                    <input type="file" name="file">
                </div>
                <div>
                    <p th:text="${error}"></p>
                </div>
                <div>
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>
    <div>
        <h2>Search</h2>
        <form action="/dashboard/search" method="get">
            <div>
                <label>
                    <input type="text" name="query" placeholder="Write query">
                </label>
            </div>
            <div>
                <input type="submit">
            </div>
        </form>
    </div>
    <div>
        <h2>Files</h2>
        <div>
            <div th:each="userFile : ${files}">
                <h3 th:text="${userFile.getFilename()}"></h3>
                <p th:text="${userFile.getAuthor()}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>