<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACloud</title>
</head>
<body>
<div>
    <h1>Welcome to acloud</h1>
</div>
<div>
    <div>
        <form action="/dashboard">
            <button>Dashboard</button>
        </form>
    </div>
<!--    <div th:if="${show_analyst_page}">-->
<!--        <form action="/analyst">-->
<!--            <button class="beauty-button">Analyst</button>-->
<!--        </form>-->
<!--    </div>-->
    <div class="footer">
        <a href="/terms_of_use">Terms of use</a>
    </div>
</div>
</body>
</html>